@charset "utf-8";


/*
// inner
///////////////////////////////////////////////////////////////*/
.inner{
	width: 100%;
	height: auto;
	margin: 0 auto;
}
@media all and (min-width:0px) and (max-width:960px) {
	.inner{
		padding: 0 4vw;
	}
}
@media all and (min-width:961px)  {
	.inner{
		width: 800px;
	}
}


/*
// .state / js
///////////////////////////////////////////////////////////////*/
.js-fadeIn {
	opacity: 0;
	transition: 2s;
  }
.js-fadeIn.is-show {
	opacity: 1;
}
.js-fadeIn--bottom {
	transform: translate3d(0, 50px, 0);
  }
.js-fadeIn--bottom.is-show {
	transform: translate3d(0, 0, 0);
}


/*
// is-pc / is-sp
///////////////////////////////////////////////////////////////*/
@media all and (min-width:0px) and (max-width:960px) {
	.is-pc{
		display: none;
	}
}
@media all and (min-width:961px)  {
	.is-sp{
		display: none;
	}
}


/*
// linkList01
///////////////////////////////////////////////////////////////*/
.linkList01{
	display: flex;
	flex-wrap: wrap;
	gap : 1rem;
}
.linkList01 li{
	width: calc((100% - 3rem) / 4);
	border-radius: 1rem;
	overflow: hidden;
}
.linkList01 li a{
	display: flex;
	aspect-ratio: 1 / 1;
	background-color: var(--color-accent-dark);
	color: var(--color-white);
	align-items: center;
	justify-content: center;
	flex-direction: column;
	letter-spacing: 0.25em;
	text-indent: 0.25em;
	position: relative;
	font-size: 1.2rem;
}
.linkList01 li a::before{
	content: '';
	width: 2rem;
	height: 2rem;
	background: url('../images/icon_orange01.png') center/contain no-repeat;
}
.linkList01 li a::after{
	content: '';
	position: absolute;
	top: 1rem;
	right: 1rem;
	width: 0;
	height: 0;
	border: 1rem solid transparent;
	border-top-color:  var(--color-white);
	border-right-color: var(--color-white);
	transition: 0.3s;
	border-radius: 6px;
}
.linkList01 li a:hover{
	background-color: var(--color-text);
}
.linkList01 li a:hover::after{
	top: 0.75rem;
	right: 0.75rem;
}
.linkList01 li a:hover::before{
	animation: gkbr .2s  infinite;
}
@media all and (min-width:0px) and (max-width:960px) {
	.linkList01 li{
		width: calc(50% - 0.5rem);
	}
}


/*
// snsList01
///////////////////////////////////////////////////////////////*/
.snsList01{
	display: flex;
	gap: 0.5rem;
}
.snsList01 li a{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 3rem;
	height: 3rem;
	background-color: var(--color-text);
	border-radius: 50%;
	padding: 0.75rem;
}
.snsList01 li a:hover{
	opacity: 0.5;
}
.snsList01 li a img{
	width: 100%;
	height: auto;
}

/*
// linkBlock01
///////////////////////////////////////////////////////////////*/
.linkBlock01 a{
	display: flex;
	margin:  2rem auto 4px auto;
	gap: 1rem;
	width: 20rem;
	background-color: var(--color-accent-dark);
	color: var(--color-white);
	padding: 1rem 1.5rem;
	border-radius: 2rem;
	align-items: center;
	box-shadow: 0 4px 0 rgba(0,0,0,0.25);
	text-decoration: none;
}
.linkBlock01 a span{
	flex-grow: 1;
}
.linkBlock01 a::after{
	content: '';
	width: 1rem;
	height: 1rem;
	background: url('../images/icon_arrow01.svg') center/contain no-repeat;
}
.linkBlock01 a[target=_blank]::after{
	background: url('../images/icon_new-window01.svg') center/contain no-repeat;
}
.linkBlock01 a.reverse{
	flex-direction: row-reverse;
}
.linkBlock01 a.reverse::after{
	transform: rotate(180deg);
}
.linkBlock01 a:hover{
	box-shadow: none;
	transform: translateY(4px);
	background-color: var(--color-text);
	opacity: 1;
}

/*
// sponsorList01
///////////////////////////////////////////////////////////////*/
.sponsorList01{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 1rem;
	padding-left: 0 !important;
	list-style: none !important;
}
.sponsorList01 li a{
	display: block;
}
.sponsorList01 li a img{
	width: auto;
	height: 3rem;
}
.sponsorList01 + p{
	margin-top: 0.5rem;
}

/*
// newsList01
///////////////////////////////////////////////////////////////*/
.newsList01 li + li{
	margin-top: 0.75rem;
}
.newsList01 li a{
	display: flex;
	align-items: center;
	background-color: var(--color-white);
	border-radius: 0.25rem;
	padding: 1rem 2rem;
	line-height: 1.5;
}
.newsList01 li a .date{
	width: 8rem;
	font-size: 0.85rem;
	font-family: var(--font-gravitas);
	color: var(--color-accent);
	text-box-trim: trim-both;
}
.newsList01 li a:hover{
	opacity: 0.75;
	background-color: var(--color-text);
	color: var(--color-white);
}
.newsList01 li a:hover .date{
	color: var(--color-white);
}
@media all and (min-width:0px) and (max-width:960px) {
	.newsList01 li a{
		flex-direction: column;
	}
	.newsList01 li a .date{
		width: 100%;
		text-align: center;
	}
}


