@charset "utf-8";
@use "variable" as *;


.entry-content{

	// common
	> *{
		margin-bottom: 1rem;
		line-height: 2;
	}
	> *:first-child{
		margin-top: 0;
	}
	> *:last-child{
		margin-bottom: 0;
	}

	//heading
	h2{
		font-size: 1.75rem;
		padding: 1rem;
		font-weight: 900;
		line-height: 1.5;
		background-image: url('../images/bg_stripe01.jpg');
		background-repeat: repeat;
		color: $color-white;
		margin-top: 4rem;
	}
	h3{
		font-size: 1.25rem;
		font-weight: 900;
		margin-top: 3rem;
	}
	h4{
		font-size: 1.1rem;
		font-weight: 900;
		margin-top: 3rem;
	}

	//link
	a{
		color: $color-accent;
		text-decoration: underline;
		&:hover{
			opacity: 0.5;
		}
	}

	//strong
	strong{
		font-weight: 900;
	}

	//list
	ul{
		padding-left: 1.5rem;
		list-style: disc;
		li{
			+li{
				margin-top: 0.25rem;
			}
		}
	}
	ol{
		padding-left: 2rem;
		position: relative;
		li{
			counter-increment: olcounter;
			&::before{
				content: counter(olcounter, decimal-leading-zero);
				font-weight: 900;
				position: absolute;
				left: 0;
			}
			+li{
				margin-top: 0.25rem;
			}
		}
	}

	//quote
	blockquote{
		padding: 1.5rem;
		background: $color-bg;
	}

	//table
	table{
		width: 100%;
		border-collapse: collapse;
		tr{
			th{
				min-width: 10rem;
				padding: 1.5rem;
				border: 1px solid $color-border;
			}
			td{
				padding: 1.5rem;
				border: 1px solid $color-border;

			}
		}
	}
}





/* wp */
.has-text-align-center{
	text-align: center;
}

/* toc */
div#toc_container{
    padding: 1.5rem;
    background: var(--color-bg02);
	border: none;
	font-size: 1rem;
	width: 100vw;
}
#toc_container p.toc_title{
	font-weight: 900;
	font-size: 1.25rem;
}
#toc_container ul.toc_list{
	display: flex;
	flex-wrap: wrap;
}
#toc_container ul.toc_list > li{
	width: 50%;
}
#toc_container ul.toc_list > li > a{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem 1.5rem;
	border: 1px solid #988281;
	border-top: 0;
	height: 100%;
}
#toc_container ul.toc_list > li:nth-of-type(even) > a{
	border-left: 0;
}
#toc_container ul.toc_list > li:nth-of-type(-n+2) > a{
	border-top: 1px solid #988281;
}
.toc_list > li > a::after{
	content: '';
	width: 1rem;
	height: 1rem;
	background: url('../images/icon_arrow02.svg') center/contain no-repeat;
	opacity: 0.5;
	transform: rotate(90deg);
	transition: 0.3s;
}
.toc_list > li > a:hover::after{
	transform: rotate(90deg) translateX(4px);
}
.toc_list > li > a:hover{
	text-decoration: none !important;
	opacity: 1;
	background-color: var(--color-accent-dark);
	color: var(--color-white);
}

@media all and (min-width:0px) and (max-width:960px) {
	div#toc_container{
		margin: -5.5rem -4vw 0;
		padding: 3rem 4vw;
	}
	#toc_container ul.toc_list > li > a{
		padding: 0.5rem 1rem;
	}
}
@media all and (min-width:961px) {
	div#toc_container{
		margin: -8rem calc(-1 * (100vw - 800px) / 2) 0;
		padding: 3rem calc((100vw - 800px) / 2);
	}
}