.js-slick-mv01 .slick-list {
  height: 100%;
}
.js-slick-mv01 .slick-list .slick-track {
  height: 100%;
}
.js-slick-mv01 .slick-list .slick-track img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}

.linkButton a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.25rem 2rem;
  border-radius: 100rem;
  max-width: 300px;
  line-height: 1;
  transition: 0.3s;
  text-decoration: none;
}
.linkButton a:hover {
  opacity: 0.75;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
}
.linkButton a.is-disabled {
  background: #C0C0C0;
  pointer-events: none;
}
.linkButton a.revese {
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: 1rem;
}
.linkButton--01 a {
  background: linear-gradient(90deg, #C71700 0%, #E04300 50%, #C71700 100%);
  color: #fff;
}
.linkButton--01 a::after {
  content: "";
  width: 1.75rem;
  height: 1rem;
  background-image: url("../images/icon_arrow01.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.linkButton--02 {
  margin-top: 1.5rem;
}
.linkButton--02 a {
  background: linear-gradient(90deg, #C71700 0%, #E04300 50%, #C71700 100%);
  color: #fff;
  margin: 0 auto;
}
.linkButton--02 a::after {
  content: "";
  width: 1.75rem;
  height: 1rem;
  background-image: url("../images/icon_arrow01.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.headingBlock {
  line-height: 1;
}
.headingBlock--01 {
  text-align: center;
}
.headingBlock--01 h2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 3rem;
  font-weight: 500;
}
.headingBlock--01 span {
  font-weight: 400;
}
.headingBlock--02 h2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  font-weight: 500;
}
.headingBlock--02 span {
  font-weight: 400;
}
.headingBlock--03 {
  display: flex;
  gap: 1rem;
  align-items: end;
}
.headingBlock--03 h2 {
  font-size: 1.5rem;
  font-weight: 900;
  letter-spacing: 0.2em;
  color: #fff;
}
.headingBlock--03 span {
  font-weight: 700;
  font-family: "Josefin Sans", sans-serif;
  color: #FFD700;
  text-transform: uppercase;
}

.newsList a {
  display: block;
}
.newsList a .thumb {
  aspect-ratio: 16/9;
  overflow: hidden;
}
.newsList a .thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
}
.newsList a:hover .thumb img {
  transform: scale(1.1);
}
.newsList--01 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  line-height: 1.5;
}
.newsList--01 .title {
  font-weight: 700;
  margin-top: 0.5rem;
}
.newsList--01 .date {
  font-size: 0.75rem;
  color: #80C4E9;
  margin-top: 0.5rem;
}

.sponsorList {
  display: grid;
}
.sponsorList--01 {
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.sponsorList__item a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  height: 5rem;
  background-color: #fff;
}
.sponsorList__item a img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: 0.3s;
}
.sponsorList__item a:hover img {
  transform: scale(1.1);
}